@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
  background-color: #11111B;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  background: linear-gradient(94.47deg, #FFFFFF 6.12%, #DAC8FF 80.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "DM Sans", sans-serif;
  line-height: 120%;
}

.text_color {
  background: linear-gradient(97deg, #FFFFFF -31.45%, #B794FC 91.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: "Archivo", sans-serif;
  line-height: 100%;
}

p {
  font-family: "Archivo", sans-serif;
  color: #898989;
  line-height: 32px;
}


button {
  cursor: pointer;
}

.btn_bg {
  background-image: url('/button_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 250px;
}

.btn_bg1 {
  background-image: url('/buttho.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 69px;
  width: 250px;
  margin-top: 10px;
}

.emp_btn1_bg {
  background-image: url('/button_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 250px;
}

.emp_btn1_bg1 {
  background-image: url('/buttho.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 69px;
  width: 250px;
  margin-top: 10px;
}

.border_color {
  background: linear-gradient(354.17deg, #7129FF 3.91%, #BD00FD 72.59%);
  height: 188px;
  width: 2px;
}

.how_ItWorks {
  position: relative;
  padding: 13px 24px;
  background: linear-gradient(90.32deg, #AC82FF -8.31%, #FFFFFF 148%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 28px;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  z-index: 1;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how_ItWorks::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(354.17deg, #7129FF 3.91%, #BD00FD 72.59%);
  border-radius: inherit;
  z-index: -1;
  padding: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.benefit_card {
  background-image: url('/benefits_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.benefit_card:hover {
  background-image: url('/choose_hover.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.emp_bg {
  background-image: url('/emp_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 964px;
}


.service_bg {
  background-image: url('/service_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 752px;
  height: 554px;
}

.footer_bg {
  background-image: url('/footer_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 508px;
}

.faq_text {
  background: linear-gradient(354.17deg, #7129FF 3.91%, #BD00FD 72.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 48px;
  font-weight: 500;
}

.grad_box {
  width: 17;
  height: 17;
  background: linear-gradient(354.17deg, #7129FF 3.91%, #FD00E3 72.59%);
}

.bottom_border {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(354.17deg, #7129FF 3.91%, #BD00FD 72.59%);
  border-image-slice: 1;
  border-image-width: 0 0 1px 0;
}

.active-link {
  position: relative;
}

.active-link:before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: -53px;
  /* adjust where you want */
  width: 164px;
  height: 148px;
  /* required */
  background-image: url('/active_nav_bg.png ');
  background-repeat: no-repeat;
  background-size: contain;
  /* cover if you want full background */
  background-position: center;
  pointer-events: none;
  z-index: -1;
  /* or 1 depending on layering */
}

.register_btn {
  box-shadow: 0px 2px 10px 0px #FF07EE99;
  border-radius: 25px;
  background: linear-gradient(354.17deg, #7129FF 3.91%, #FD00E3 72.59%);

  padding: 25px 85px;
  font-size: 20px;
  font-weight: 600;
}

.sm_menu_bg {
  box-shadow: 0px 2px 10px 0px #FF07EE99;
  background: linear-gradient(354.17deg, #221142 3.91%, #120311 72.59%);
}

.banner_header {
  font-size: 80px;
  font-weight: 900;
  padding-left: 125px;
}
.emp_buttons {
  display: flex;
  gap: 20px;
}

@media (min-width: 320px) and (max-width: 380px) {
  .register_btn {
    border-radius: 14px;
    padding: 11px 85px;
  }

  .banner_header {
    padding-left: 25px;
    line-height: 126%;
    font-size: 28px !important;
  }

  .footer_first_section {
    margin-bottom: 10px;
  }

  .emp_btn_pos {
    bottom: 10%;
  }

  .footer h4 {
    font-size: 16px;
  }

  .second_sec {
    margin-bottom: 24px;
  }

  .second_sec a {
    font-size: 12px;
  }

  .footr_p {
    font-size: 12px;
  }

  /* .footer .icons {
    height: 34px;
    width: 34px;
  } */

  .footer_bg {
    background-image: url('/footer_sm_bg.png');
    height: 773px;
    width: 100%;
    padding-top: 40px;
    padding-left: 34px;
    background-size: contain;
  }

  .copyright {
    position: absolute;
    transform: rotate(90deg);
    top: 77%;
    right: -17%;
    font-size: 10px;
  }

  .faq_wrapper {
    margin-top: 90px;
  }

  .faq_text {
    font-size: 28px;
  }

  .service_bg {
    width: 100%;
    background-size: contain;
    padding-left: 50px;
    height: 285px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .service_icons {
    padding-top: 50px !important;
  }

  .service_bg .platform {
    padding-top: 10px;
  }

  .faq_number {
    gap: 10px;
  }

  /* service */
  .how_ItWorks {
    padding: 6.5px 24px;
    font-size: 10px;
  }

  .service_wrapper {
    padding-left: 21px;
    padding-right: 21px;
  }

  .service_wrapper .icons {
    gap: 30px;
  }

  .service_gap {
    gap: 75px;
    flex-direction: column-reverse;
  }

  .service_bg {
    padding-left: 20px;
    width: 100%;
  }

  .service_mt {
    margin-top: 40px;
  }


  .yt_size {
    width: 31px;
    height: 22px;
  }

  .empowering_wrapper {
    margin-bottom: 44px;
  }

  /* service */
  .emp_bg {
    background-image: url('/emp_sm_bg.png');
    background-size: cover;
    height: fit-content;
  }

  .emp_list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
  }

  .emp_btn1_bg {
    background-image: url('/emp_btn_bg.png');
    width: 145px !important;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  .emp_btn1_bg1 {
    background-image: url('/emp_btn_bg1.png');
    width: 145px !important;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  .emp_buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .grad_box {
    width: 7px;
    height: 7px;
  }

  /* empowering */
  .emp_list {
    width: 106px;
    margin-bottom: 32px;
  }

  .emp_list h6 {
    font-size: 11.05px;
    line-height: 12.89px;
  }

  .emp_list img {
    width: 16px;
    height: 16px;

  }

  .empowering_wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .emp_text_p {
    font-size: 14px;
    line-height: 19px;
    padding-right: 16px;
  }

  /* empowering */


  /* how it works */
  .how_cards {
    padding-left: 24px;
    padding-right: 24px;
  }

  .heading {
    font-size: 22px;
  }

  .howItworks h3 {
    font-size: 18px;
  }

  .howItworks p {
    font-size: 14px;
  }

  /* how it works */


  .counter_2 {
    padding-left: 25px;
    padding-right: 20px;
  }

  .banner_px {
    padding-bottom: 0;
  }

  .counter_1 {
    padding-right: 20px;
  }

  .smm_header h1 {
    font-size: 20px;
  }

  .counter_3 {
    padding-left: 25px;
  }

  /* counter */
  .border_color {
    height: 60px;
  }

  /* counter */

  /* banner */
  .bg_vector {
    background-image: url('/mobile_banner_bg.png') !important;
    background-size: contain;
  }

  .banner_logo {
    top: 40px;
    left: 28px;
  }

  .banner_text_wrap {
    padding-top: 80px !important;
    margin-bottom: 30px;
  }

  .banner_header {
    font-size: 35px;
    padding-left: 25px;
    line-height: 126%;
  }

  .banner_p p {
    padding-left: 14px;
  }

  .btn_bg {
    background-image: url('/button_bg1.png');
    background-size: cover;
    height: 52px;
    width: 255px;
  }

  .btn_bg1 {
    background-image: url('/button_bg2.png');
    background-size: contain;
    height: 45px;
    width: 255px;
  }

  .emp_btn_bg {
    background-image: url('/button_bg1.png');
    background-size: cover;
    height: 52px;
    width: 271px;
  }

  .emp_btn_bg1 {
    background-image: url('/button_bg2.png');
    background-size: cover;
    height: 45px;
    width: 271px;
  }

  .laptop_img {
    margin-top: -52px;
  }

  .banner_btn {
    padding-left: 24px;
    padding-top: 35px;
  }

  .banner {
    padding-top: 0;
  }

  .ghost {
    bottom: 55%;
    right: 15px;
  }

  /* smm panel */
  .smm_bg {
    width: 90% !important;
    left: 5% !important;
  }

  .smm_header p {
    line-height: 22px;
    font-size: 12px;
    margin-top: 13px !important;
  }

  .smm_panel_wrapper {
    padding-top: 90px;
  }

  .x_img {
    right: 52px;
    top: 48px;
    width: 25px;
    height: 22px;
  }

  .smm_header {
    margin-left: 20px;
  }

  .smm_img {
    width: 321px;
    margin-top: 42px;
    margin-right: 44px;
  }

  .emp_gap {
    gap: 50px;
  }

  .service_wrapper .icons {
    gap: 71px;
    margin-bottom: 32px;
  }
}

/* responsive */
@media (min-width:381px) and (max-width: 431px) {
  .footer_first_section {
    margin-bottom: 40px;
  }

  .emp_btn_pos {
    bottom: 10%;
  }

  .footer h4 {
    font-size: 16px;
  }

  .second_sec a {
    font-size: 12px;
  }

  .footr_p {
    font-size: 12px;
  }

  /* .footer .icons {
    height: 34px;
    width: 34px;
  } */

  .footer_bg {
    background-image: url('/footer_sm_bg.png');
    height: 773px;
    width: 100%;
    padding-top: 40px;
    padding-left: 34px;
    background-size: contain;
  }

  .copyright {
    position: absolute;
    transform: rotate(90deg);
    top: 77%;
    right: -17%;
    font-size: 10px;
  }

  .faq_wrapper {
    margin-top: 90px;
  }

  .faq_text {
    font-size: 28px;
  }

  .service_bg {
    width: 100%;
    background-size: contain;
    padding-left: 50px;
    height: 285px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .service_icons {
    padding-top: 30px !important;
  }

  .service_bg .platform {
    padding-top: 10px;
  }

  .faq_number {
    gap: 10px;
  }

  /* service */
  .how_ItWorks {
    padding: 6.5px 24px;
    font-size: 10px;
  }

  .service_wrapper {
    padding-left: 21px;
    padding-right: 21px;
  }

  .service_wrapper .icons {
    gap: 30px;
  }

  .service_gap {
    gap: 75px;
    flex-direction: column-reverse;
  }

  .service_bg {
    padding-left: 50px;
    width: 100%;
  }

  .service_mt {
    margin-top: 40px;
  }


  .yt_size {
    width: 31px;
    height: 22px;
  }

  .empowering_wrapper {
    margin-bottom: 44px;
  }

  /* service */
  .emp_bg {
    background-image: url('/emp_sm_bg.png');
    background-size: cover;
    height: fit-content;
  }

  .emp_list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
  }

  .emp_btn1_bg {
    background-image: url('/emp_btn_bg.png');
    width: 145px !important;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  .emp_btn1_bg1 {
    background-image: url('/emp_btn_bg1.png');
    width: 145px !important;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  .emp_buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grad_box {
    width: 7px;
    height: 7px;
  }

  /* empowering */
  .emp_list {
    width: 140px;
    margin-bottom: 32px;
  }

  .emp_list h6 {
    font-size: 11.05px;
    line-height: 12.89px;
  }

  .emp_list img {
    width: 16px;
    height: 16px;

  }

  .empowering_wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .emp_text_p {
    font-size: 14px;
    line-height: 19px;
    padding-right: 16px;
  }

  /* empowering */


  /* how it works */
  .how_cards {
    padding-left: 24px;
    padding-right: 24px;
  }

  .heading {
    font-size: 24px;
  }

  .howItworks h3 {
    font-size: 18px;
  }

  .howItworks p {
    font-size: 14px;
  }

  /* how it works */


  .counter_2 {
    padding-left: 25px;
    padding-right: 52px;
  }

  .banner_px {
    padding-bottom: 0;
  }

  .counter_1 {
    padding-right: 55px;
  }

  .counter_3 {
    padding-left: 25px;
  }

  /* counter */
  .border_color {
    height: 60px;
  }

  /* counter */

  /* banner */
  .bg_vector {
    background-image: url('/mobile_banner_bg.png') !important;
    background-size: contain;
  }

  .banner_logo {
    top: 40px;
    left: 28px;
  }

  .banner_text_wrap {
    padding-top: 80px !important;
    margin-bottom: 30px;
  }

  .banner_header {
    font-size: 35px;
    padding-left: 25px;
    line-height: 126%;
  }

  .banner_p p {
    padding-left: 14px;
  }

  .btn_bg {
    background-image: url('/button_bg1.png');
    background-size: cover;
    height: 52px;
    width: 271px;
  }

  .btn_bg1 {
    background-image: url('/button_bg2.png');
    background-size: cover;
    height: 45px;
    width: 271px;
  }

  .emp_btn_bg {
    background-image: url('/button_bg1.png');
    background-size: cover;
    height: 52px;
    width: 271px;
  }

  .emp_btn_bg1 {
    background-image: url('/button_bg2.png');
    background-size: cover;
    height: 45px;
    width: 271px;
  }

  .laptop_img {
    margin-top: -52px;
  }

  .banner_btn {
    padding-left: 24px;
    padding-top: 35px;
  }

  .banner {
    padding-top: 0;
  }

  .ghost {
    bottom: 55%;
    right: 15px;
  }

  /* smm panel */
  .smm_bg {
    width: 90% !important;
    left: 5% !important;
  }

  .smm_header p {
    line-height: 25px;
    margin-top: 20px !important;
  }

  .smm_panel_wrapper {
    padding-top: 90px;
  }

  .x_img {
    right: 52px;
    top: 48px;
    width: 25px;
    height: 22px;
  }

  .smm_header {
    margin-left: 20px;
  }

  .smm_img {
    width: 321px;
    margin-top: 70px;
    margin-right: 106px;
  }

  .emp_gap {
    gap: 50px;
  }

  .service_wrapper .icons {
    gap: 71px;
    margin-bottom: 50px;
  }
}

@media (min-width:431px) and (max-width: 768px) {
  .emp_btn1_bg {
    background-image: url('/emp_btn_bg.png');
    width: 145px !important;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  .emp_btn_pos {
    bottom: 140px;
  }

  .emp_list {
    width: 200px;
  }

  .emp_text_p {
    max-width: 420px !important;
  }

  .emp_list h6 {
    font-size: 18px;
  }

  .emp_btn1_bg1 {
    background-image: url('/emp_btn_bg1.png');
    width: 145px !important;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  /* empowering */
  .empowering_wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* empowering */
  /* how it works */
  .how_cards {
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
  }

  .heading {
    font-size: 30px;
  }

  .howItworks h3 {
    font-size: 30px;
  }

  .howItworks p {
    font-size: 14px;
    max-width: 300px;
  }

  /* how it works */

  .counter_2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .counter_1 {
    padding-right: 60px;
  }

  .counter_3 {
    padding-left: 60px;
  }

  /* counter */
  .border_color {
    height: 60px;
  }


  .banner_px {
    padding: 40px;
  }

  .bg_vector {
    background-image: url('/bg-vector.png') !important;
    backdrop-filter: blur(23px);
    background-repeat: no-repeat;

  }

  .banner_header {
    padding-left: 98px;
    font-size: 30px;
  }

  .hidden_clss {
    display: none;
  }

  .block_clss {
    display: flex;
  }

  .banner_btn {
    margin-top: 30px;
  }

  .banner_text_wrap {
    padding-top: 145px;
  }

  .header_wrap {
    padding-left: 120px;
  }

  .bg_vector {
    margin-top: -60px;
  }

  .banner_flex {
    flex-direction: column;
    justify-content: start;
  }

  .laptop_img {
    display: flex;
    justify-content: center;
  }

  .border_color {
    height: 100px;
  }

  .smm_bg {
    display: none;
  }

  .smm_panel_wrapper {
    padding-top: 0;
    margin-top: 0;
  }

  .emp_bg {
    height: 100%;
  }

  .emp_gap {
    gap: 20px;
  }

  .emp_bg {

    padding-left: 20px;
    padding-top: 20px;
  }

  .emp_bg .heading {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .emp_bg p {
    font-size: 14px;
  }
}

@media (min-width:769px) and (max-width: 1024px) {

  /* service */
  .service_wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .service_wrapper .icons {
    gap: 30px;
  }

  .service_gap {
    gap: 40px;
    flex-direction: column-reverse;
  }

  .service_bg {
    padding-left: 50px;

  }

  .service_mt {
    margin-top: 40px;
  }

  .service_icons {
    padding-top: 10px;
  }

  /* service */
  /* empowering */
  .emp_gap {
    gap: 50px;
  }

  .emp_text_p {
    max-width: 600px;
  }

  .emp_list {
    margin-bottom: 20px;
    width: 200px !important;
  }

  .empowering_wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .empowering_wrapper .heading {
    margin-bottom: 20px !important;
  }

  /* empowering */

  .whychoose {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .benefit_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* how it works */
  .how_cards {
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
  }

  .heading {
    font-size: 35px;
  }

  .howItworks h3 {
    font-size: 30px;
  }

  .howItworks p {
    font-size: 14px;
  }

  /* how it works */


  .smm_bg {
    background-image: unset !important;
  }

  /* counter */
  .counter_2 {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .counter_1 {
    padding-right: 60px !important;
  }

  .counter_3 {
    padding-left: 60px !important;
  }

  .counter_h3 {
    font-size: 40px !important;
  }

  .counter {
    width: 100%;
  }

  .border_color {
    height: 70px;
  }

  /* counter */

  .banner_px {
    padding: 40px;
  }

  .bg_vector {
    backdrop-filter: blur(23px)
  }

  .banner_header {
    padding-left: 120px;
    font-size: 30px;
  }

  .hidden_clss {
    display: none;
  }

  .block_clss {
    display: flex;
  }

  .banner_btn {
    margin-top: 30px;
  }

  .banner_text_wrap {
    padding-top: 0;
  }

  .header_wrap {
    padding-left: 120px;
  }

  .bg_vector {
    margin-top: -60px;
    background-image: none;
  }

  .banner_flex {
    flex-direction: column;
    justify-content: start;
  }

  .laptop_img {
    display: flex;
    justify-content: center;
  }

  /* smm panel */
  .smm_bg {
    width: 90% !important;
    left: 5% !important;
  }

  .smm_header h1 {
    font-size: 35px !important;
  }

  .smm_header p {
    width: 450px;
  }

  .smm_panel_wrapper {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  /* smm panel */
}

@media (min-width:1025px) and (max-width: 1440px) {
  .footer_first_section {
    max-width: 400px;
  }

  .footer_bg {
    height: 300px;
    background-size: cover;
    padding-top: 50px;
    width: 100%;
  }

  .second_sec {
    margin-right: 60px;
  }

  .faq_number {
    margin-bottom: 0;
  }

  .faq_wrap {
    height: 400px;
  }

  .faq_wrap h1 {
    font-size: 30px;
  }

  .faq_item h1 {
    font-size: 40px;
  }

  .faq_grid {
    gap: 100px;
  }

  /* service */
  .service_wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .service_wrapper .icons {
    gap: 30px;
  }

  .service_mt {
    margin-top: 40px;
  }

  .service_icons {
    padding-top: 40px;
  }

  /* service */
  /* empowering */
  .empowering_wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .emp_gap {
    gap: 60px;
  }



  /* empowering */
  /* why choose us */
  .whychoose {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .benefit_card {
    width: 300px;
  }

  /* why choose us */

  /* how it works */
  .how_cards {
    padding-left: 100px;
    padding-right: 100px;
    gap: 140px;
  }

  .heading {
    font-size: 50px;
  }

  /* how it works */
  /* counter */
  .counter_2 {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .counter_1 {
    padding-right: 60px !important;
  }

  .counter_3 {
    padding-left: 60px !important;
  }

  .counter_h3 {
    font-size: 40px !important;
  }

  .counter {
    width: fit-content;
  }

  .border_color {
    height: 90px;
  }

  /* counter */



  .bg_vector {
    background-image: url('/bg-vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(23px)
  }

  .banner_px {
    padding: 40px;
  }

  .banner_header {
    padding-left: 120px;
    font-size: 40px;
  }

  .banner_btn {
    margin-top: 30px;
  }

  .header_wrap {
    padding-left: 120px;
  }

  /* smm panel */
  .smm_bg {
    width: 90% !important;
    left: 5% !important;
  }

  .smm_header h1 {
    font-size: 40px !important;
  }

  .smm_panel_wrapper {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  /* smm panel */

}

@media (min-width:1441px) and (max-width: 1600px) {

  /* service */
  .service_wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .service_wrapper .icons {
    gap: 30px;
  }

  .service_mt {
    margin-top: 40px;
  }

  .service_icons {
    padding-top: 40px;
  }

  /* service */
  /* empowering */
  .empowering_wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .emp_gap {
    gap: 100px;
  }

  /* empowering */

  .whychoose {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  /* how it works */
  .how_cards {
    padding-left: 100px;
    padding-right: 100px;
    gap: 140px;
  }

  .heading {
    font-size: 50px;
  }

  /* how it works */


  /* counter */
  .counter_2 {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .counter_1 {
    padding-right: 80px !important;
  }

  .counter_3 {
    padding-left: 80px !important;
  }

  .faq_grid {
    gap: 100px !important;
  }

  .faq_wrap h1 {
    font-size: 40px;
  }

  .faq_number {
    margin-bottom: 80px;
  }

  .counter_h3 {
    font-size: 40px !important;
  }

  .counter {
    width: fit-content;
  }

  .faq_wrap {
    height: 387px;
  }

  .border_color {
    height: 90px;
  }

  /* counter */
  /* smm panel */
  .smm_bg {
    left: 10% !important;
    width: 83% !important;
  }

  .smm_header h1 {
    font-size: 45px;
  }

  /* smm panel */

  .banner_px {
    padding: 40px;
  }

  .bg_vector {
    background-image: url('/bg-vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(23px)
  }

  .banner_header {
    padding-left: 120px;
    font-size: 60px;
  }

  .banner_btn {
    margin-top: 30px;
  }

  .header_wrap {
    padding-left: 120px;
  }

  /* footer */
  .footer_first_section {
    max-width: 400px;
  }

  .second_sec {
    margin-right: 100px;
  }

  /* footer */
}

@media (min-width:1601px) and (max-width: 1920px) {
  .smm_bg {
    width: 80%;
  }

  .faq_wrap {
    height: 350px;
  }

  .bg_vector {
    background-image: url('/bg-vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(23px)
  }
}

.bg_vector {
  background-repeat: no-repeat;
}